.container {
  display: flex;
  direction: rtl;
  padding: 35px;
}

.cartCounter {
  position: absolute;
  right: 9px;
  top: 12px;
  width: 24px;
  height: 24px;
  background-color: #ff5722;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
