.item-container {
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  padding: 2% 0;
  margin-top: 20%;
  border: 2px solid;
  border-radius: 40px;
  margin: 14% 12%;
}
.card-component {
  padding: 5%;
}
img {
  width: 150px;
  border-radius: 20px;
}

/* smaller view widths */
@media (max-width: 1140px) {
  img {
    width: 100px;
  }
}
@media (max-width: 850px) {
  img {
    width: 80px;
  }
}
